@font-face {
  font-family: 'Saira Condensed';
  src: url('fonts/saira_condensed/SairaCondensed-Thin.ttf') format('woff2'),
    url('fonts/saira_condensed/SairaCondensed-Medium.ttf') format('woff');
}

@font-face {
  font-family: 'Saira';
  src: url('fonts/saira/Saira-VariableFont_wdth\,wght.ttf') format('woff2')
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: .5rem;
  padding-left: .5rem;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1350px;
  }
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #212121;
}

main {
  flex: 1;
}

.cent {
  @apply flex justify-center items-center
}

.button-primary {
  @apply w-[230px] h-14 bg-[#06D889] text-[#FFFFFF] font-normal text-2xl leading-7 rounded-md font-saira
}

.button-secondary {
  @apply w-[215px] h-14 bg-transparent border-2 border-[#06D889] text-[#06D889] font-normal text-2xl leading-7 rounded-md font-saira
}

.nav-item {
  @apply text-[#FFFFFF] text-2xl leading-7 font-normal after:inline-block after:w-1.5 after:h-1.5 after:bg-gray-400 after:rounded-full after:ml-3
}

.custom-shadow {
  text-shadow: 0px 4px 43.099998474121094px rgba(6, 216, 137, 0.87);
}

.main-title {
  @apply font-saira font-normal text-[32px] leading-[50px] text-[#06D889] capitalize custom-shadow md:text-start text-center
}

.footer-item {
  @apply font-saira-condensed text-white capitalize md:text-start text-center
}

ul li a{
  color: white;
  font-family: Saira Condensed, sans-serif;
}

#rotat-image {
  animation: rotation 30s infinite linear;
  -webkit-animation: rotation 30s infinite linear;
}

/* Slide Department */
[x-cloak] {
  display: none;
}

/*swiper*/
.swiper {
  padding: var(--g-spacing);
}

.swiper .content-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ".";
  width: 100%;
  justify-items: center;
  align-items: center;
}

.swiper .content-wrapper .content {
  padding: var(--g-spacing) * 2 var(--g-spacing);
  text-align: center;
  display: grid;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
  color: var(--black);
}

.swiper .content-wrapper .content :first-child {
  margin: 0;
}

.swiper .content-wrapper .content .swiper-avatar {
  width: 100%;
  max-width: 125px;
  height: auto;
}

.swiper .content-wrapper .content .swiper-avatar img {
  border-radius: 500px;
}

.swiper .content-wrapper .content .cite {
  font-size: 14px;
  font-weight: bold;
}

.swiper .swiper-slide {
  margin: 0;
  height: auto;
  width: 100%;
  padding: 0;
  opacity: 0.2;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.swiper .swiper-slide.swiper-slide-active {
  opacity: 1;
  transform: scale(1.1);
}

.swiper .swiper-nav-wrapper {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper .swiper-nav-wrapper .swiper-button-next,
.swiper .swiper-nav-wrapper .swiper-button-prev {
  top: auto;
  left: auto;
  right: auto;
  position: relative !important;
}

.swiper .swiper-nav-wrapper .swiper-button-next:after,
.swiper .swiper-nav-wrapper .swiper-button-prev:after {
  display: none;
}

.swiper .swiper-nav-wrapper .swiper-button-next,
.swiper .swiper-nav-wrapper .swiper-container-rtl .swiper-button-prev {
  background-image: url("assets/next.svg") !important;
  width: 36px;
  height: 36px;
  background-size: 36px 36px;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.swiper .swiper-nav-wrapper .swiper-button-prev,
.swiper .swiper-nav-wrapper .swiper-container-rtl .swiper-button-next {
  background-image: url("assets/prev.svg") !important;
  width: 36px;
  height: 36px;
  background-size: 36px 36px;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.swiper .swiper-pagination {
  margin: 0;
  padding: 0;
  width: auto;
  position: relative !important;
  display: block;
}

.swiper .swiper-pagination .swiper-pagination-bullets {
  margin: 0;
}

.swiper .swiper-pagination .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
}

.swiper .swiper-pagination .swiper-pagination-bullet-active {
  transform: scale(1.5);
}

.swiper .swiper-pagination.swiper-pagination-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  bottom: 0;
  top: 0;
  bottom: 0;
  width: auto;
  padding: 0 var(--g-spacing);
}